# Django files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
*.sqlite3

# venv
.env
venv/
env/
example-venv

# PyCharm files
.idea/

# VS code
.vscode/

# system files
.DS_Store
Thumbs.db

# other files
*.bak
*.swp
*~
.coverage
.tox/
.eggs/